/*************************Class Selectors*************************************/

.container-fluid{
  padding: 2% 7% 7%;
}
.font-change{
  font-size: 0.75em;

}
.header-adjust{
  text-align: center;
}
.shift{
  margin-top: 3%;
}
.spacing{
  padding-left: 3%;
}
/************************* Selectors*************************************/
body {
  background-color: #EAF6F6;
}
h1{
  font-size: 2.4em;
}

hr{
  margin-top: 7%;
}
