/*************************Class Selectors*************************************/

.container-fluid{
  padding: 2% 7% 7%;
}
.font-change{
  font-size: 0.75em;

}
.header-adjust{
  text-align: center;
}
.shift{
  margin-top: 3%;
}
.shifting{
  margin-top: 0.5%;
}
.spacing{
  padding-left: 3%;
}
.space{
  padding-left: 2%
}
.check{
  display: inline-block;
  vertical-align: middle;
}
/************************* Selectors*************************************/
body {
  background-color: #EAF6F6;
  font-family: "Lato", sans-serif;
  animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
h1{
  font-size: 2.4em;
  font-family: "Dosis", sans-serif;

}


hr{
  margin-top: 3.5%;
}
